#listCss {
    list-style-type: square;
}

ol {
    list-style-type: lower-alpha;
    list-style-type: upper-alpha;
    list-style-type: upper-roman;
    list-style-type: lower-roman;
    list-style-position: inside;
    list-style-position: outside;
    list-style-image: url('');
    list-style-image: none;
}

/*
👍The list-style-type allows you to control the shape or appearance of the marker.
👍list-style-type: lower-alpha;
    list-style-type: upper-alpha;
    list-style-type: upper-roman;
    list-style-type: lower-roman;

👍The list-style-position property specifies the position of the list-item markers (bullet points).

👍  list-style-position: outside; means that the bullet points will be outside the list item. 
    The start of each line of a list item will be aligned vertically:

👍  list-style-position: inside; means that the bullet points will be inside the list item.
    As it is part of the list item, it will be part of the text and push the text at the start:
*/