* {
    margin: 0;
    padding: 0;
}

/*
👍 visible - Default. The overflow is not clipped. The content renders outside the element's box
👍 hidden - The overflow is clipped, and the rest of the content will be invisible
👍 scroll - The overflow is clipped, and a scrollbar is added to see the rest of the content
👍 auto - Similar to scroll, but it adds scrollbars only when necessary
*/
p {
    width: 300px;
    height: 200px;
    border: 2px solid rgb(6, 199, 125);
    overflow: hidden;
    /* Hide other words */
    overflow: auto;
    /* Scrollbar vertical */
    overflow: scroll;
    /* Scrollbar vertical and horizontal */
    overflow-x: scroll;
    /* Horizontal Scroll-bar */
    overflow-y: scroll;
    /* Vertical Scroll-bar */
}