*{
    margin: 0;
    padding: 0;
}
.scam{
    width: 100%;
    height: 100vh; 
    /*background-color: antiquewhite;*/
    background-image: url('download.jpg');
    /* background-repeat: no-repeat; */ 
    /* background-repeat: repeat-x; */
    background-size: 100% 100%;
    /* Css 3 background-size: 100% 100%; */
    background-attachment: fixed;
    /* background-repeat: repeat-y; */
}
.scam2{
    width: 100%;
    height: 100vh; 
    /*background-color: antiquewhite;*/
    background-image: url('solo.jpg');
    /* background-repeat: no-repeat; */ 
    /* background-repeat: repeat-x; */
    background-size: 100% 100%;
    /* Css 3 background-size: 100% 100%; */
    background-attachment: fixed;
    /* background-repeat: repeat-y; */
}

h1{
    color: rgb(2, 2, 116);
    text-align: center;
}

/* ID access using (#)*/
#work{
    color: rgb(184, 14, 90);
    text-align: center;
}
